<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Key
    </ion-label>
    <ion-input [(ngModel)]="key">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Value
    </ion-label>
    <ion-input [(ngModel)]="value">
    </ion-input>
  </ion-item>
  <ion-button (click)="set()">
    set
  </ion-button>
  <ion-button (click)="get()">
    get
  </ion-button>
  <ion-button (click)="remove()">
    remove
  </ion-button>
  <ion-button (click)="removeAll()">
    removeAll
  </ion-button>
</ion-content>